[flake8]

exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    build
ignore =
    E501, # max line length
    W503, # breaking before binary operators
    E302  # multi-line empty space / comments bug
builtins =
    _,
    NAME,
    MAINTAINER,
    MAINTAINER_EMAIL,
    DESCRIPTION,
    LONG_DESCRIPTION,
    URL,
    DOWNLOAD_URL,
    LICENSE,
    CLASSIFIERS,
    AUTHOR,
    AUTHOR_EMAIL,
    PLATFORMS,
    VERSION,
    PACKAGES,
    PACKAGE_DATA,
    REQUIRES
