.DS_Store
._.DS_Store
**.pyc
**.pyt
.ipynb_checkpoints
.vscode
.bash_history
train_modules/__pycache__/*
*.egg-info/
examples/3D_benchmark_tests/*/*
results/
data/
integrated_cell/networks/old
integrated_cell/networks/proto
integrated_cell/models/proto
examples/paper_plos_2020/images
examples/paper_plos_2020/demo_imgs
examples/paper_plos_2020/*.tiff