.DS_Store
._.DS_Store
**.pyc
**.pyt
.ipynb_checkpoints
.vscode
.bash_history
train_modules/__pycache__/*
*.egg-info/
examples/3D_benchmark_test/*/
results/
data/
integrated_cell/networks/old
integrated_cell/networks/proto
integrated_cell/models/proto
